#article-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 20px;

  .article-item {
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px dashed rgba(131, 131, 131, 0.5);
    padding-bottom: 20px;
    .article-title {
      margin: 0 0 10px 0;
    }
    .article-content {
      margin: 0 0 10px 0;
    }
    .article-cover {
      border-radius: 5px;
    }
    .article-bth {
      display: flex;
      flex-direction: row;
    margin-top: 10px;
      .article-edit,
      .article-delete {
        width: 50px;
        height: 25px;
      }
      .article-delete {
        margin-left: 10px;
      }
    }
  }
}

.add-article {
  display: flex;
}

/* 模态框背景 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 模态框内容 */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
  text-align: center;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  margin: 10px 0;
}

.modal-content button {
  margin: 5px;
}
