.categories-list {
  display: flex; /* 将ul设置为flex容器 */
  flex-direction: column; /* 设置主轴方向为纵向 */
  padding: 0; /* 移除默认内边距 */
  margin: 0; /* 移除默认外边距 */
  list-style-type: none; /* 移除默认列表样式 */
}

button{font-size: 10px;height: 20px !important;margin-left: 10px;}

.category{
  display: flex;              /* 使用 flexbox 布局 */
  align-items: center; 
  height: 30px;
}

.sub-category {
  margin-bottom: 10px;
  background-color: #f0f8ff; /* 设置背景色 */
  border-radius: 5px; /* 可选：设置圆角 */
  margin-left: 20px;
  margin-top: 5px;
  font-size: smaller;
  display: flex;              /* 使用 flexbox 布局 */
  align-items: center; 
  height: 30px;
  padding:0 10px 0 10px;
}

.noSonText{font-size: 10px;color: #666;margin-left: 10px;}
