nav {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    max-width: 980px; // 最大宽度，防止过宽
    margin: 0 auto; // 使导航居中  
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
  
      li {
        position: relative;
        margin: 0 15px;
  
        ul {
          list-style: none;
          position: absolute;
          top: 100%; // 使子菜单在顶级栏目下方显示
          left: 0;
          display: none; // 默认隐藏子菜单
          background: #f9f9f9;
          padding: 10px 0;
          z-index: 1000; // 确保子菜单在其他元素之上
          white-space: nowrap;
          overflow: hidden; // 隐藏超出容器的文本
          text-overflow: ellipsis;
        }
  
        &:hover ul {
          display: block; // 鼠标悬停时显示子菜单
        }
      }
    }
  }
  
  .auth-container {
    margin-left: auto; // 将登录状态部分推到右侧
    color: black;
    display: flex;
    align-items: center;
  
    button {
      margin-left: 10px;
    }
  }
  